*{
  margin: 0;
  padding: 0;
}

@keyframes widthChange {
  from {
    width: var(--start-width);
  }
  to {
    width: var(--end-width);
  }
}

.img-animation {
  position: relative;
  left: 0;
  animation: widthChange 3.5s infinite alternate ease-in-out;
}

.flex::-webkit-scrollbar {
  display: none;
}

.flex {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

.carousel-container {
  width: 100%; 
  overflow: hidden;
}

.shade {
  filter: brightness(50%);
}

.rotate_text {
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}